@media screen and (max-width: 1280px) {
  
 
}


@media (max-width: 1145px) {
  .hero_about_section {
    min-height: 110vh;
  }
}

@media screen and (max-width: 1040px) {
  nav ul {
    gap: 30px;
  }
  .header_contacts {
    gap: 35px;
  }
  .project2_section {
    height: 80vh;
  }
  .footer_contacts{
    height: 80vh;
  }
}

@media screen and (max-width: 1030px) {
  .short_about_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .sviper_example {
    margin-bottom: 5%;
  }
  .hero_section {
    height: 80vh;
  }
}
@media screen and (max-width: 1020px) {
  nav ul {
    gap: 25px;
  }
  .header_contacts {
    gap: 30px;
  }
}

@media screen and (max-width: 1000px) {
  nav ul {
    gap: 20px;
  }
  .header_contacts {
    gap: 20px;
  }
}
@media screen and (max-width: 930px) {
  nav ul {
    gap: 15px;
  }
  .header_contacts {
    gap: 15px;
  }
}

@media screen and (max-width: 900px) {
  .nav_manu {
    display: none;
  }
  .langs_menu {
    display: none;
  }
  .bm-burger-button {
    display: flex;
  }
  .grid_container_products {
   
    grid-template-columns: repeat(2, 1fr);
    
  }
}



@media screen and (max-width: 600px) {
  .nav_bar_icons {
    display: none;
  }.logo_img{
    width: 100px;
    height: 100px;
  }
  .project2_section {
    height: 70vh;
  }
  .footer_contacts{
    height: 70vh;
  }
}

@media screen and (max-width: 550px) {
  .header_contacts_phones {
    /* display: none; */
  }
  .mail_icons {
    gap: 15px;
    align-items: center;
  }
  .bg_header_contacts_phones {
    display: flex !important;
    gap: 0;
  }
}

@media screen and (max-width: 500px) {
  .hero_container h1 {
    font-size: 10vh;
  }
  .project2_section {
    height: 50vh;
  }
  .footer_contacts{
    height: 50vh;
  }
}
