:root {
  --yellow: #fed700;
  --over_red: #ae1213;
  --header_color: #1a242d;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

html {
  font-size: 10px;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
header {
  width: 100%;
}
footer {
  background-color: var(--header_color);
}
.container {
  max-width: 1328px;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
}

/* -- NAVBAR START -- */
.to_container {
  height: 10px;
  background: rgb(26, 36, 45);
  background: linear-gradient(
    0deg,
    rgba(26, 36, 45, 1) 5%,
    rgba(174, 18, 19, 0.8688725490196079) 62%
  );
}
.navbar_container {
  display: flex;
  flex-direction: column;
  height: 130px;
}
.logo_lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.langs_menu {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.resp_langs_menu {
  display: flex !important;
}
.langs_menu button {
  background: none;
  border: 1px solid var(--over_red);
  padding: 5px;
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.langs_menu button:hover {
  background-color: var(--white);
  color: var(--header_color);
}
.logo_img {
  width: 150px;
  height: 120px;
  /* border-right: 1px solid rgb(255 255 255 / 10%); */
}
.logo_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav_bar_icons {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  height: 100%;
}
nav {
  height: 100%;
}

nav ul {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
}

nav ul li {
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}

.header_contacts {
  display: flex;
  gap: 45px;
  font-size: 16px;
}
.header_contacts_phones {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  /* width: 160px; */
}
.bg_header_contacts_phones {
  display: none !important;
}
.langs_menu_contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  letter-spacing: 0.5px;
}

.contact_item:hover {
  color: var(--over_red);
}
.mail_icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  justify-content: space-between;
}
.soc_icons {
  display: flex;
  gap: 10px;
  color: var(--white);
  align-items: center;
}

.soc_icons svg {
  width: 15px; /* Установи нужный размер */
  height: 15px;
  color: white; /* Цвет иконок */
  cursor: pointer;
  transition: color 0.3s ease;
}

.soc_icons svg:hover {
  color: rgb(251, 126, 126); /* Эффект при наведении */
}

/* Navbar2 new design */
.navbar2_container {
  display: flex;
  justify-content: space-between;
}
.nav_plus_langs_container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.lang_select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected_lang {
  padding: 5px 12px;
  background: #f3f3f3;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.lang_list {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  /* width: 80px; */
}

.lang_list li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.lang_list li:hover {
  background: #e3e3e3;
}


/* --- NAVBAR END --- */
/* -- HERO START -- */
.hero_section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero_title {
  font-family: "Great Vibes", cursive;
  font-size: clamp(28px, 7vw, 130px);
  font-weight: 400;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  white-space: nowrap;
}

.hero_slider_wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 1s ease-in-out; /* Плавное появление */
}
.swiper-slide-prev img,
.swiper-slide-next img {
  filter: blur(50px); /* Размытие для соседних слайдов */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Затемнение */
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1.5em; /* Увеличиваем начальное расстояние */
    opacity: 0;
  }
  40% {
    opacity: 0.7; /* Плавно увеличиваем видимость */
  }
  100% {
    letter-spacing: 4px; /* Восстанавливаем нормальное расстояние */
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1.5em; /* Увеличиваем начальное расстояние */
    opacity: 0;
  }
  40% {
    opacity: 0.7; /* Плавно увеличиваем видимость */
  }
  100% {
    letter-spacing: 4px; /* Восстанавливаем нормальное расстояние */
    opacity: 1;
  }
}

/* --- HERO END --- */

.separator_class {
  height: 45px;
  background: rgb(26, 36, 45);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    /* rgba(26, 36, 45, 1) 45%, */
    rgba(174, 18, 19, 1) 100%
  );
}

/* -- Short ABOUT section START -- */
.short_about_section {
  /* height: 80vh; */
  background-image: url("./images/bg_images/forging_bg31.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 30%;
  background-attachment: fixed;
  padding-bottom: 5%;
}
/* .short_about_uzor_after {
  background: url("./images/after-before/under_uzor.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 70px;
} */
/* .short_about_uzor_before {
  background: url("./images/after-before/under_uzor.png");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: contain;

  width: 200px;
  height: 70px;
} */
.short_about_h2 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.short_about_h2 h2 {
  max-width: 700px;
  color: var(--white);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: clamp(28px, 5vw, 130px);
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  letter-spacing: 4px;
}
.short_about_content {
  display: flex;
  justify-content: space-around;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 35%,
    /* rgba(26, 36, 45, 1) 35%, */
    rgba(174, 18, 19, 1) 115%
  );
  padding: 3%;
}
.short_about_content_h3_p {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
/* .short_about_content h3 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 8vh;
  color: var(--white);
} */
.short_about_content_h3_p p {
  font-weight: 400;
  font-size: 1.8rem;
  color: #999999;
  line-height: 30px;
  letter-spacing: 1px;
}
.sviper_example {
  width: 320px;
  height: 380px;
}
.sviper_example img {
  width: 100%;
  height: 100%;
}
/* --- SHORT ABOUT SECTION END --- */

/* -- Projects Section START -- */
.projects_section {
  background-image: url("./images/bg_images/forging_bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 30%;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 100px;
}
.projects_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.projects_container {
  z-index: 6;
  position: relative;
}
.projects_section_h2 {
  z-index: 999;
  padding: 3% 0 !important;
}

.projects_grid_container {
  max-width: 1328px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); /* 3 карточки */
  gap: 20px; /* Добавляет отступы между карточками */
}

.projects_grid_card {
  max-width: 290px;
  background-color: #a4a4a43b; /* Чтобы было видно */
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  justify-self: center;
  overflow: hidden;
}
.projects_grid_card img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.projects_grid_card img:hover {
  transform: scale(1.1);
}

.more_projects_btn {
  text-align: center;
  padding-top: 2%;
}

.go_to_project_page {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  height: 48px;
  padding: 0 17px;
  border: 1px solid #e8ac39;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px #000;
  font-size: 12px;
  line-height: 48px;
  color: #e8ac39;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s ease-in-out;
}
.go_to_project_page:hover {
  transform: scale(1.05);
  border-color: #ffcc00;
  box-shadow: 0 0 10px #ffcc00;
  transition: all 0.3s ease-in-out;
}
.go_to_project_page::after,
.go_to_project_page::before {
  content: "";
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  width: 13px;
  height: 48px;
  margin: 0 5px;
  background: url("./images/after-before/\(1\).png") no-repeat center center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* Project2 START */
.project2_section {
  background: url("./images/bg_images/world_map.webp") no-repeat center center;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.project2_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Темный цвет с прозрачностью */
 
}
.place_address {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
}

/* --- Projects Section END --- */

/* -- FOOTER START -- */
.footer_container {
  padding-top: 1%;
}
/* .footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #a4a4a43b;
  padding-bottom: 2%;
}

.footer_logo img {
  width: 80px;
  height: 40px;
} */
.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  justify-content: center;
  align-items: flex-start;
  font-weight: 400;
  height: 90vh;
  position: sticky;
  
  padding-left: 10%;
}
.footer_contact_item {
  font-weight: 400;
}

.footer_soc_icons {
  display: flex;
  justify-content: center;
  font-size: 50px;
  gap: 50px;
  padding: 1% 0;
  border-bottom: 1px solid #a4a4a43b;
}
.footer_soc_icons svg {
  width: 25px;
  height: 25px;
}
.footer_copyr {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 1% 0;
  letter-spacing: 1px;
}

/* --- FOOTER END --- */

/* -- About Us START -- */
.hero_about_section {
  position: relative;
  height: 25vh;
  /* background-color: aqua; */
  background: url("./images/aboutUs/6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 150%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.hero_about_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Темный цвет с прозрачностью */
  z-index: 1; /* Чтобы псевдоэлемент был сверху, но под содержимым */
}
.hero_about_container h1 {
  position: sticky;
  font-family: "Merriweather", serif;
  font-size: 40px;
  color: white;
  letter-spacing: 4px;
  z-index: 5;
  font-weight: 500;
}

.about_content_section {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8) 10%,
    rgba(26, 36, 45, 1) 35%,
    rgba(174, 18, 19, 1) 115%
  );
  padding: 2% 3%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero_about_section_content {
  background-color: #1a242dd9;
  padding: 3% 0;
}
.hero_about_section_content p {
  color: white;
  font-size: 18px;
}
.img_plus_piece_of_text_img {
  max-width: 360px;
}
.img_plus_piece_of_text_img img {
  width: 140%;
}
.img_plus_piece_of_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_plus_piece_of_text p {
  padding: 2%;
  max-width: 570px;
  text-align: justify;
  letter-spacing: 0.6px;
}
.img_plus_piece_of_text span {
  font-size: 30px;
}

.div_liner {
  background-color: #e8ac39;
  height: 2px;
}

/* --- About Us END --- */

/* -- Projects Page START -- */

.project_h1 {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid_container_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product_card_image {
  position: relative; /* Для размещения иконки и затемнения */
  max-width: 360px;
  overflow: hidden;
  cursor: pointer;

}

.product_card_image img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  
}

.product_card_image:hover img {
  transform: scale(1.05);
}

.zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирует иконку */
  opacity: 0;
  font-size: 2rem; /* Размер иконки */
  color: white; /* Цвет иконки */
  transition: opacity 0.3s ease-in-out; /* Плавность появления */
  z-index: 99999999999;
}

.product_card_image:hover .zoom-icon {
  opacity: 1; /* Показываем иконку при наведении */
}

/* Затемняющий эффект */
.product_card_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  opacity: 0; /* Изначально невидим */
  transition: opacity 0.3s ease-in-out; /* Плавность появления */
}

.product_card_image:hover::after {
  opacity: 1; /* Затемнение фона при наведении */
}



.product_card_image img {
  width: 100%;
}
.product_card h3 {
  color: white;
  font-size: 20px;
}
/* Стили для полноэкранной галереи */
.fullscreen-gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Тёмный фон */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-image-gallery__container {
  width: 100%;
  height: 100%;
}

.react-image-gallery__image {
  max-height: 100%;
  object-fit: contain; /* Убираем искажения изображения */
}

/* --- Projects Page END --- */

/* -- Contacts FORM START -- */
.hero_about_section {
  padding: 20px 0;
}

.hero_about_container {
  text-align: center;
}

.hero_about_section_content {
  padding: 40px 0;
}

.contact_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 10%,
    rgba(26, 36, 45, 1) 45%,
    rgba(174, 18, 19, 1) 120%
  );
  padding: 3%;
}

/* .contact-info {
  width: 30%;
  padding-right: 20px;
} */

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.contact-item i {
  font-size: 20px;
  color: #e8ac39;
  margin-right: 10px;
}

.contact-text {
  font-size: 16px;
  color: #ccc;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.contact-form input {
  color: white;
}

.contact-input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-input:focus {
  border-color: rgba(174, 18, 19, 1);
}

textarea.contact-input {
  min-height: 150px;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(174, 18, 19, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #ff4040;
}

/* --- Contacts FORM END --- */

/* Navbar SCROLLING start */
.navbar {
  position: fixed;
  top: 0;
  z-index: 30;
  transition: all 0.3s ease-in-out;
}

.navbar-scrolled {
  background-color: rgba(26, 36, 45, 0.7);
  position: fixed;
  z-index: 99999;
}

.navbar-default {
  background: none;
}
/* Navbar SCROLLING end */

/* Swipper START */
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 15px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 15px)
  );
  background: var(--swiper-pagination-bullet-inactive-color, #ffffffc5);
}
.swiper {
  position: initial;
  height: 100%;
}
/* Swipper END */

.aos-init, .aos-animate{
  overflow: hidden;
}

/* Error page START */
/* src/pages/NotFound.css */
.notfound-container {
  height: 100vh;
  background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(174, 18, 19, 1));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.notfound-container h1 {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.notfound-container p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.notfound-container a {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: rgba(174, 18, 19, 1);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}

.notfound-container a:hover {
  background-color: rgba(174, 18, 19, 1);
  color: white;
}

/* Error page END */

/* Popup for search */

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

.search-form input {
  width: 100%;
  padding: 15px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-form button {
  padding: 10px 25px;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* End popup */




